/**
* Document Grid
*
*Creates a three column grid for our icons.
*/

.grid{
	display:grid;
		grid-template-columns: 2fr 2fr 2fr;
		grid-gap: 1rem;
}

svg:hover path{
	
    fill: green;


a:link {
  fill: blue;
}
a:visited path{
  fill:purple;
}
a:hover path{
  fill:green;
}
a:active path{
  fill: red;
}